<div class="flex flex-row justify-center items-center w-full">
    <div class="flex flex-col justify-center gap-2">
        <div class="imagem-container flex flex-col justify-center items-center">
            @if (!fileDataUrl && formDados.get(campo)?.value) {
                <img [src]="formDados.get(campo).value" />
            }
            @if (fileDataUrl) {
                <img [src]="fileDataUrl" />
            }
            @if (!fileDataUrl && !formDados.get(campo)?.value) {
                <span class="material-icons-outlined text-[4rem] text-gray-300 mb-2">
                    add_photo_alternate
                </span>
            }
            @if(!disabled){
                <input #fileInput type="file" (change)="previewFile()">
            }
        </div>
        @if (!disabled) {
            <p class="text-base text-gray-400">JPEG, JPG, PNG ou WEBP</p>
            <p class="text-base text-gray-400">máximo {{ sizeFormatado }}</p>
            @if(width || height){
                <p class="text-base text-gray-400">
                    resolução necessária: {{ width ? (width + 'px largura') : 'altura livre' }} x {{ height ? (height + 'px altura') : 'altura livre' }}
                </p>
            }
        }
    </div>

    @if (!disabled) {
        <button mat-icon-button
            title="Remover imagem"
            (click)="removerImagem()">
            <span class="material-icons">
                delete
            </span>
        </button>
    }
</div>