<div
    class="
        md:hidden flex fixed z-10 bottom-0 flex-row w-full
        bg-primary-200 border-t border-secondary py-2 justify-around
    ">
    <a
        routerLink="/home"
        routerLinkActive="bg-white"
        class="inline-block rounded-md"
        aria-label="Página principal">
        <div class="p-2">
            <i class="fa-solid fa-house text-secondary text-4xl"></i>
        </div>
    </a>

    <a
        routerLink="/nutricao"
        routerLinkActive="bg-white"
        class="inline-block rounded-md"
        aria-label="Nutrição">
        <div class="p-2">
            <i class="fa-solid fa-utensils text-secondary text-4xl"></i>
        </div>
    </a>

    <a
        routerLink="/evento"
        routerLinkActive="bg-white"
        class="inline-block rounded-md"
        aria-label="Eventos">
        <div class="p-2">
            <i class="fa-solid fa-calendar-days text-secondary text-4xl"></i>
        </div>
    </a>

    <a
        routerLink="/galeria"
        routerLinkActive="bg-white"
        class="inline-block rounded-md"
        aria-label="Galeria">
        <div class="p-2">
            <i class="fa-solid fa-images text-secondary text-4xl"></i>
        </div>
    </a>

    <a
        routerLink="/artigos"
        routerLinkActive="bg-white"
        class="inline-block rounded-md"
        aria-label="Artigos">
        <div class="p-2">
            <i class="fa-solid fa-book text-secondary text-4xl"></i>
        </div>
    </a>
</div>