<div class="flex flex-col w-full p-10">
    <div class="flex w-full justify-end gap-2">
        <!-- SALVAR -->
        <button class="relative" matTooltip="Salvar alterações" mat-raised-button [color]="'primary'" [disabled]="loading" (click)="salvar()">
            <span class="material-icons-outlined">save</span>
            <ng-container *ngIf="loading">
                <mat-progress-spinner class="absolute right-[-0.8rem] bottom-[0.8rem]" [diameter]="12" mode="indeterminate"></mat-progress-spinner>
            </ng-container>
        </button>
    </div>

    <h1 class="flex text-2xl mb-8">
        <span class="whitespace-nowrap">Dados da Empresa</span>
    </h1>

    <form focusInvalidInput class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="formDados">
        <div class="flex flex-col gap-4 p-4">
            <div class="flex flex-col md:flex-row gap-4">
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" />
                    <mat-error *ngIf="formDados.get('email')?.hasError('email') && formDados.get('email')?.touched">Email inválido</mat-error>
                    <mat-error *ngIf="formDados.get('email')?.hasError('required') && formDados.get('email')?.touched">Email obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="telefone" [textMask]="{ mask: fone9Mask, guide: true }" />
                </mat-form-field>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <mat-form-field class="w-full">
                    <mat-label>Link Instagram</mat-label>
                    <input matInput formControlName="instagram" />
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Link Facebook</mat-label>
                    <input matInput formControlName="facebook" />
                </mat-form-field>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <mat-form-field class="w-full">
                    <mat-label>Link Youtube</mat-label>
                    <input matInput formControlName="youtube" />
                </mat-form-field>
            </div>

            <!-- <div class="flex flex-col md:flex-row gap-4">
                <mat-form-field class="w-full">
                    <mat-label>Chave PIX</mat-label>
                    <input matInput formControlName="chave_pix" />
                </mat-form-field>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <mat-form-field class="w-full">
                    <mat-label>Banco</mat-label>
                    <input matInput formControlName="banco" />
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Agência</mat-label>
                    <input matInput formControlName="agencia" />
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Conta</mat-label>
                    <input matInput formControlName="conta" />
                </mat-form-field>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <mat-form-field class="w-full">
                    <mat-label>CPF/CNPJ</mat-label>
                    <input matInput formControlName="cnpj" [textMask]="{ mask: cpfcnpjMask, guide: true }"/>
                    <mat-error *ngIf="formDados.get('cnpj')?.hasError('cpfCnpj') && formDados.get('cnpj')?.touched">CPF/CNPJ inválido</mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Nome Titular</mat-label>
                    <input matInput formControlName="nome" />
                </mat-form-field>
            </div> -->
        </div>
    </form>
</div>