<div class="flex flex-col w-full p-10">
    <div class="flex">
        <button
            mat-icon-button
            matTooltip="Voltar"
            (click)="voltar()">
            <span class="material-icons">
                arrow_back
            </span>
        </button>

        <div *onlyAdmin class="flex w-full justify-end">
            <button
                mat-raised-button
                [color]="'primary'"
                matTooltip="Editar artigo"
                (click)="editar()">
                <span class="material-icons">
                    edit
                </span>
            </button>
        </div>
    </div>

    @if (artigo) {
        <div class="flex flex-col gap-8">
            @if (artigo.titulo) {
                <h1 class="flex flex-col md:flex-row w-full justify-center md:justify-around">
                <div
                    class="
                        flex items-center justify-center px-4 text-xl
                        text-center
                    ">
                    {{ artigo.titulo }}
                </div>
                </h1>
            }

            @if (artigo.imagem_capa) {
                <div
                    class="flex justify-center">
                    <img class="rounded" [src]="getImagem(artigo.imagem_capa)">
                </div>
            }

            <article class="">
                @if (artigo.texto) {
                    <quill-view [content]="artigo.texto" format="html" theme="snow" [sanitize]="true"></quill-view>
                }

                <div class="w-full flex justify-end">
                    @if (artigo.data_inclusao) {
                        <span class="text-xs">
                            Adicionado {{ artigo.data_inclusao | date: 'dd/MM/YYYY HH:mm' }}
                        </span>
                    }
                </div>
            </article>
        </div>
    }
</div>