<div class="flex flex-col w-full p-10">
    <h1 class="flex text-2xl mb-8">
        <span class="whitespace-nowrap">Banner - Edição Imagem</span>

        <div class="w-full flex gap-2 justify-end mb-2">
            <!-- VOLTAR -->
            <button
                matTooltip="Voltar p/ lista"
                mat-raised-button
                [color]="'secondary'"
                (click)="voltar()">
                <span class="material-icons-outlined">
                    arrow_back
                </span>
            </button>

            <!-- TRASH -->
            @if (imagemId) {
                <button
                    class="relative"
                    matTooltip="Apagar imagens"
                    mat-raised-button
                    [color]="'accent'"
                    [disabled]="loading"
                    (click)="apagar()">
                    <span class="material-icons-outlined">
                        delete
                    </span>
                    @if (loading) {
                        <mat-progress-spinner class="absolute right-[-0.8rem] bottom-[0.8rem]" [diameter]="12" mode="indeterminate"></mat-progress-spinner>
                    }
                </button>
            }

            <!-- SALVAR -->
            <button
                class="relative"
                matTooltip="Salvar alterações"
                mat-raised-button
                [color]="'primary'"
                [disabled]="loading"
                (click)="salvar()">
                <span class="material-icons-outlined">
                    save
                </span>
                @if (loading) {
                    <mat-progress-spinner class="absolute right-[-0.8rem] bottom-[0.8rem]" [diameter]="12" mode="indeterminate"></mat-progress-spinner>
                }
            </button>
        </div>
    </h1>

    <form focusInvalidInput class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="formDados">
        <div class="flex flex-col p-4">
            <div class="flex flex-col md:flex-row gap-4">
                @if (imagemId) {
                    <mat-form-field class="w-28">
                        <mat-label>ID</mat-label>
                        <input matInput formControlName="id" readonly>
                    </mat-form-field>
                }
            </div>

            <div class="flex flex-col md:flex-row gap-4 mb-4">
                <mat-checkbox
                    [color]="'primary'"
                    formControlName="ativo">
                    Ativo
                </mat-checkbox>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <mat-form-field class="w-36">
                    <mat-label>Ordem</mat-label>
                    <input maxlength="2" type="number" matInput formControlName="ordem" />
                    <mat-error *ngIf="formDados.get('ordem')?.hasError('required') && formDados.get('ordem')?.touched">Preenchimento obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <mat-form-field class="w-full" matTooltip="Para acessibilidade, não ficando visível">
                    <mat-label>Descrição</mat-label>
                    <input maxlength="100" matInput formControlName="descricao" />
                    <mat-error *ngIf="formDados.get('descricao')?.hasError('required') && formDados.get('descricao')?.touched">Preenchimento obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div class="flex flex-col gap-4 w-full mt-4 pt-4 border-t border-t-secondary">
                <div class="">
                    Imagem p/ Computadores (Desktop)
                </div>

                <app-imagem
                    class="w-full"
                    [formDados]="formDados"
                    [campo]="'imagem_desktop'"
                    [sizeBytes]="2000000"
                    (fileChangeEvent)="changeImagemDesktop($event)">
                </app-imagem>
            </div>

            <div class="flex flex-col gap-4 w-full mt-4 pt-4 border-t border-t-secondary">
                <div class="">
                    Imagem p/ Dispositivos Móveis
                </div>

                <app-imagem
                    class="w-full"
                    [formDados]="formDados"
                    [campo]="'imagem_mobile'"
                    [sizeBytes]="2000000"
                    [width]="500"
                    (fileChangeEvent)="changeImagemMobile($event)">
                </app-imagem>
            </div>
        </div>
    </form>
</div>