<div class="flex flex-col w-full p-10">
    <h1 class="flex text-2xl mb-8">
        Galerias

        <div *onlyAdmin class="flex w-full justify-end">
            <button
                mat-raised-button
                [color]="'primary'"
                matTooltip="Adicionar artigo"
                (click)="novoGaleria()">
                <span class="material-icons">
                    add
                </span>
            </button>
        </div>
    </h1>

    <div id="lista" class="py-12">
        @if (items && items.length) {
            <div class="flex flex-col gap-8">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-8">
                    @for (item of items; track item.id) {
                        <article
                            class="
                                flex flex-col gap-2 justify-center items-center
                                bg-white pb-4 rounded-xl shadow-lg
                                cursor-pointer hover:opacity-85
                                transition duration-300 ease-out
                            "
                            matTooltip="Visualizar galeria"
                            (click)="abrirGaleria(item)">
                            <img class="max-h-72 rounded" [src]="item.imagem_capa">
    
                            <h2
                                class="max-w-full block px-4 text-center text-sm"
                                matTooltip="{{ item.titulo }}">
                                {{ item.titulo }}
                            </h2>
                        </article>
                    }
                </div>
    
                <mat-paginator
                    class="mb-4"
                    [length]="itemsCount"
                    [pageSize]="pageLimit"
                    [pageSizeOptions]="pageLimits"
                    [showFirstLastButtons]="true">
                </mat-paginator>
            </div>
        } @else if (!!items) {
            <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">
                Nenhuma galeria encontrada!
            </div>
        }
    </div>
</div>