<div class="flex flex-col w-full p-10">
    <div class="flex">
        <!-- VOLTAR -->
        <button
            mat-icon-button
            matTooltip="Voltar p/ lista"
            (click)="voltar()">
            <span class="material-icons">
                arrow_back
            </span>
        </button>

        <div class="flex w-full justify-end gap-2">
            <!-- TRASH -->
            @if (galeriaId) {
                <button
                    class="relative"
                    matTooltip="Apagar galeria"
                    mat-raised-button
                    [color]="'warn'"
                    [disabled]="loading"
                    (click)="apagar()">
                    <span class="material-icons-outlined">
                        delete
                    </span>
                    @if (loading) {
                        <mat-progress-spinner class="absolute right-[-0.8rem] bottom-[0.8rem]" [diameter]="12" mode="indeterminate"></mat-progress-spinner>
                    }
                </button>
            }

            <!-- SALVAR -->
            <button
                class="relative"
                matTooltip="Salvar alterações"
                mat-raised-button
                [color]="'primary'"
                [disabled]="loading"
                (click)="salvar()">
                <span class="material-icons-outlined">
                    save
                </span>
                @if (loading) {
                    <mat-progress-spinner class="absolute right-[-0.8rem] bottom-[0.8rem]" [diameter]="12" mode="indeterminate"></mat-progress-spinner>
                }
            </button>
        </div>
    </div>

    <h1 class="flex text-2xl mb-8">
        <span class="whitespace-nowrap">Cadastro de Galeria</span>
    </h1>

    <form focusInvalidInput class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="formDados">
        <div class="flex flex-col p-4">
            <div class="flex flex-col md:flex-row gap-4">
                @if (galeriaId) {
                    <mat-form-field class="w-28">
                        <mat-label>ID</mat-label>
                        <input matInput formControlName="id" readonly>
                    </mat-form-field>
                }
            </div>

            <div class="flex flex-col md:flex-row gap-4 mb-4">
                <mat-checkbox
                    [color]="'primary'"
                    formControlName="ativo">
                    Ativo
                </mat-checkbox>
            </div>

            <div class="flex flex-col md:flex-row gap-4 mb-4">
                <mat-checkbox
                    [color]="'primary'"
                    formControlName="tela_principal">
                    Exibir na Página Principal
                </mat-checkbox>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <mat-form-field class="w-full">
                    <mat-label>Título</mat-label>
                    <input maxlength="100" matInput formControlName="titulo" />
                    <mat-error *ngIf="formDados.get('titulo')?.hasError('required') && formDados.get('titulo')?.touched">Preenchimento obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div class="flex flex-col gap-4 w-full mt-4 pt-4 border-t border-t-secondary">
                <div class="">
                    Imagem Capa
                </div>

                <app-imagem
                    class="w-full"
                    [formDados]="formDados"
                    [campo]="'imagem_capa'"
                    [sizeBytes]="2000000"
                    (fileChangeEvent)="changeImagemCapa($event)">
                </app-imagem>
            </div>
        </div>
    </form>
</div>