<div class="flex flex-col w-full p-10">
    <h1 class="flex text-2xl mb-8">
        <span class="text-nowrap">{{ dados?.titulo || '' }}</span>

        <div *onlyAdmin class="flex w-full justify-end">
            <button
                mat-raised-button
                [color]="'primary'"
                matTooltip="Editar"
                (click)="editar()">
                <span class="material-icons">
                    edit
                </span>
            </button>
        </div>
    </h1>

    @if (dados && dados.texto) {
        <div>
            <quill-view [content]="dados.texto" format="html" theme="snow" [sanitize]="true"></quill-view>
        </div>
    }
</div>