<div class="flex flex-col w-full p-10">
    <div class="flex">
        <button mat-icon-button matTooltip="Voltar" (click)="voltar()">
            <span class="material-icons">
                arrow_back
            </span>
        </button>

        <div *onlyAdmin class="flex w-full justify-end">
            <button mat-raised-button [color]="'primary'" matTooltip="Editar artigo" (click)="editar()">
                <span class="material-icons">
                    edit
                </span>
            </button>
        </div>
    </div>

    @if (artigo) {
        <h1 class="flex flex-col md:flex-row w-full justify-center md:justify-around mb-8">
            @if (artigo.imagem_capa) {
                <img class="w-4/6 md:w-52" [src]="getImagem(artigo.imagem_capa)">
            }
            @if (artigo.titulo) {
              <div class="flex items-center justify-center px-4 text-xl">
                  {{ artigo.titulo }}
              </div>
          }
      </h1>

    <section class="">
      @if (artigo.texto) {
        <div [innerHTML]="artigo.texto"></div>
    }

        <div class="w-full flex justify-end">
          @if (artigo.data_inclusao) {
            <span class="text-xs">
                Adicionado {{ artigo.data_inclusao | date: 'dd/MM/YYYY HH:mm' }}
            </span>
        }
    </div>
    </section>
  }
</div>
