<div class="flex flex-col-reverse md:flex-row w-full min-h-16 mb-16 md:mb-0 pb-4 bg-primary-200 justify-around items-center gap-4">
    <div class="flex-1 flex-col py-3 px-5 w-full md:w-auto gap-2 justify-center items-center">
        <a
            class="text-sm md:text-base hover:underline"
            routerLink="/login">
            Acesso Administrador
        </a>
    </div>
    
    <div class="flex w-3/4 h-px md:w-px md:h-32 md:my-6 bg-secondary items-center justify-center"></div>

    <div class="flex flex-1 flex-col md:flex-row items-center justify-center md:justify-around">
        <a class="hidden md:flex h-24 md:h-28 items-center justify-center" routerLink="/">
            <img class="max-h-20 md:max-h-24" src="assets/logo.png">
        </a>

        <div class="flex flex-row gap-6 justify-center items-center">
            <a href="https://www.instagram.com/acolhendoadorcomamor/" target="_blank">
                <i class="fa-brands fa-instagram text-secondary text-[2rem] md:text-[2.5rem]"></i>
            </a>

            <a href="https://www.facebook.com/acolhendoadorcomamor" target="_blank">
                <i class="fa-brands fa-square-facebook text-secondary text-[2rem] md:text-[2.5rem]"></i>
            </a>

            <a href="" target="_blank">
                <i class="fa-brands fa-whatsapp text-secondary text-[2rem] md:text-[2.5rem]"></i>
            </a>
        </div>
    </div>
</div>