<div class="w-full m-4">
  <form novalidate="" class="bg-white shadow-md rounded px-3 md:px-8 py-8">
      <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
              Nome:
          </label>
          <input
              type="text"
              id="name"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder=""
              [(ngModel)]="formData.name"
              required>
      </div>

      <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
              Email:
          </label>
          <input
              type="email"
              id="email"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder=""
              [(ngModel)]="formData.email"
              required>
      </div>

      <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
              Mensagem:
          </label>
          <textarea
              id="message"
              rows="6"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder=""
              [(ngModel)]="formData.message"
              required>
          </textarea>
      </div>

      <div class="text-center">
          <button
              type="submit"
              class="bg-pink-300 hover:bg-pink-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              Enviar
          </button>
      </div>
  </form>
</div>
