:root {
    --color-primary: #E93F76;
    --color-secondary: #0075A0;
}

$custom-primary-palette: (
    50 : #fce8ef,
    100 : #f8c5d6,
    200 : #f49fbb,
    300 : #f0799f,
    400 : #ec5c8b,
    500 : #e93f76,
    600 : #e6396e,
    700 : #e33163,
    800 : #df2959,
    900 : #d91b46,
    A100 : #ffffff,
    A200 : #ffdae2,
    A400 : #ffa7b9,
    A700 : #ff8ea4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-secondary-palette: (
    50 : #e0eef4,
    100 : #b3d6e3,
    200 : #80bad0,
    300 : #4d9ebd,
    400 : #268aae,
    500 : #0075a0,
    600 : #006d98,
    700 : #00628e,
    800 : #005884,
    900 : #004573,
    A100 : #a1d3ff,
    A200 : #6ebbff,
    A400 : #3ba3ff,
    A700 : #2297ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);