:root {
    --color-primary: #eb5185;
    --color-secondary: #1f7794;
    --color-terciary: #e57c2d;
}

$custom-primary-palette: (
    50 : #fdeaf0,
    100 : #f9cbda,
    200 : #f5a8c2,
    300 : #f185aa,
    400 : #ee6b97,
    500 : #eb5185,
    600 : #e94a7d,
    700 : #e54072,
    800 : #e23768,
    900 : #dd2755,
    A100 : #ffffff,
    A200 : #ffe6ec,
    A400 : #ffb3c5,
    A700 : #ff9ab1,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-secondary-palette: (
    50 : #e4eff2,
    100 : #bcd6df,
    200 : #8fbbca,
    300 : #62a0b4,
    400 : #418ba4,
    500 : #1f7794,
    600 : #1b6f8c,
    700 : #176481,
    800 : #125a77,
    900 : #0a4765,
    A100 : #97d9ff,
    A200 : #64c6ff,
    A400 : #31b4ff,
    A700 : #18aaff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-terciary-palette: (
    50 : #fcefe6,
    100 : #f7d8c0,
    200 : #f2be96,
    300 : #eda36c,
    400 : #e9904d,
    500 : #e57c2d,
    600 : #e27428,
    700 : #de6922,
    800 : #da5f1c,
    900 : #d34c11,
    A100 : #ffffff,
    A200 : #ffdbce,
    A400 : #ffb69b,
    A700 : #ffa381,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ))